.new-mail-container{
    position: fixed;
    right: 0.5em;
    bottom: 0.5em;
    width: 510px;
    min-height: 470px;
    z-index: 5;
    background-color: #fff;
}
.new-mail-container .top-band{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.new-mail-container form{
    padding: 1em;
}
