.edit-note {
    display: flex;
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 44px;
    width: fit-content;
}

.color-picker-wrapper {
    position: relative;
    height: fit-content;
    width: fit-content;
}

.label-wrapper {
    position: relative;
    height: 44px;
    width: 44px;
}

.label-list {
    position: absolute;
    list-style: none;
    visibility: hidden;
    top: 100%;
    left: -20%;
    margin: 0px;
    padding: 0px;
    background-color: #fefefe;
    padding: 10px;
    z-index: 1;
    border: 1px solid black;
}

.label-wrapper:hover .label-list {
    visibility: visible;
}

.color-picker-wrapper input {
    position: absolute;
    opacity: 0;
}