@import './note-img.css';
@import './note-video.css';
@import './note-text.css';
@import './note-todo.css';

/* @import './left-bar.css'; */

@import './add-note.css';
.keep-container {
    /* background-color: lightsalmon; */
    display: flex;
}

.keep-content {
    /* width: 80%; */
    padding: 20px;
}

.keep-content button {
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    outline: none;
}

.note-list {
    padding: 20px 10px;
    column-count: 3;
    align-content: center;
    page-break-inside: avoid;
}

.note {
    display: flex;
    flex-direction: column;
    position: relative;
    /* width: 80%; */
    border: 1px solid #e0e0e0;
    padding: 25px;
    margin: 0% 5% 5%;
    break-inside: avoid-column;
}

.edit-note {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.keep-heading {
    color: #5f6368;
}