@import './note-img.css';
@import './note-audio.css';
@import './note-video.css';
@import './note-text.css';
@import './note-todo.css';
@import './edit-note.css';
@import './add-note.css';
@import './note-search.css';
.keep-container {
    /* background-color: lightsalmon; */
    display: flex;
}

.keep-content {
    padding: 20px;
}

.keep-content input {
    background-color: #fefefe;
}

.keep-content button {
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    outline: none;
}

.note-list {
    padding: 20px 10px;
    column-count: 3;
    align-content: center;
    page-break-inside: avoid;
}

.note {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    border: 1px solid #e0e0e0;
    padding: 25px;
    padding-bottom: 60px;
    margin: 0% 5% 5%;
    break-inside: avoid-column;
    font-size: 1.2rem;
    height: fit-content;
}

.note input {
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 5px;
    outline: none;
}

.note-icon {
    position: absolute;
    bottom: 5px;
    left: 5px;
    pointer-events: none;
}

.keep-heading {
    color: #5f6368;
}

@media(max-width: 1000px) {
    .note-list {
        column-count: 2;
    }
}

@media(max-width: 700px) {
    .note-list {
        column-count: 1;
    }
}