.checked {
    text-decoration: line-through;
}

.todo-content {
    display: flex;
    justify-content: space-between;
}

.todo-list {
    list-style: none;
    padding: 0px;
}

.todo-list li input {
    max-width: 100%;
}

.todo {
    cursor: pointer;
}