/* Helpers */
.aps-box-shadow-small{
box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
}
.aps-box-shadow-big{
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
}
.rounded, .rounded-big{
    border-radius: 20px;
}
.rounded-small{
    border-radius: 10px;
}
i.fas, i.far, i.fab{
  padding: 8px;
  float: left;
  position: relative;
  border-radius: 50%;
  text-align: center;
  color: rgb(95, 99, 104);
}

i.fas:hover,
i.far:hover,
i.fab:hover{
  background:#f1f3f4;
  color: #5f6368;
  position: relative;
}
button, .btn{
    cursor: pointer;
}
.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
a{
    text-decoration: none;
}
.close {
    padding: 0.75rem 1rem;
    margin: -1rem -1rem -1rem auto;
    background-color: transparent;
    border: 0;
    float: right;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
.dark-msg{
    background-color: #404040;
    color: white;
}
.dark-msg .close{
    color: white;
    opacity: 0.8;
}
.inner{
    padding: 1em;
}