@import '../../apps/mail/assets/css/main.css';
@import '../../apps/keep/assets/css/main.css';
@import '../../apps/books/assets/css/main.css';

.home-container{
    background-color: lightsteelblue;
}
.text-muted{
    color: #5f6368;
}
.text-bold{
    font-weight: 700;
}