@import './helpers.css';
@import './top-bar-menu.css';
@import '../../apps/mail/assets/css/main.css';
@import '../../apps/keep/assets/css/main.css';
@import '../../apps/books/assets/css/main.css';
@import './notification.css';
@import './form.css';
@import './search-field.css';

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Product';
    src: url('../font/ProductSans/Product\ Sans\ Regular.ttf');
}

@font-face {
    font-family: 'ProductBold';
    src: url('../font/ProductSans/Product\ Sans\ Bold.ttf');
}

html {
    box-sizing: border-box;
    height: 100vh;
}

body {
    margin: 0px;
    height: 100%;
    font-family: 'Roboto', Arial, sans-serif;
    color: rgb(32, 33, 36);
}


/* Components */

.side-bar ul,
.side-bar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-size: .875em;
}

.side-bar h2 {
    padding-left: 0.5em;
}

.side-bar ul li,
.side-bar-menu a {
    display: grid;
    grid-template-columns: 20% 80%;
    line-height: 2em;
}

.side-bar-menu a:hover {
    border-radius: 0 16px 16px 0;
    background-color: #F4F5F6;
}

.side-bar-menu a,
.side-bar-menu a:visited,
.side-bar-menu a:hover {
    color: #202124;
}

.side-bar-menu a.active-nav {
    border-radius: 0 16px 16px 0;
    background-color: #e8eaed;
    font-weight: bold;
}

.side-bar i {
    padding: 0;
    align-self: center;
}

.main-wrapper {
    display: grid;
    grid-template-columns: 20% 80%;
}

.home-container {
    background-color: lightsteelblue;
}

.text-muted {
    color: #5f6368;
}

.text-bold {
    font-weight: 700;
}