.notification-box {
    position: absolute;
    left: 10px;
    bottom: 40px;
}
.notification-box div{
    display: inline-block;
    padding-right: 1em;
}
.notification-box.success {
    background-color: green;
}

.notification-box.fail {
    background-color: red;
}