.aps-search {
    display: flex;
    padding: 10px;
    font-size: 1.2em;
    width: 50%;
    margin: 20px auto 0px;
}

.aps-search input {
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.aps-search i {
    pointer-events: none;
}