.aps-search {
    display: flex;
    padding: 10px;
    font-size: 1.1em;
    width: 50%;
    margin: 0 auto;
    position: relative;
    background-color: white;
}

.aps-search input {
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.aps-search i {
    pointer-events: none;
}
.aps-search i.fa-times{
position: absolute;
    width: 30px;
    color: #76787c;
    font-size: 1.5em;
    right: 12px;
    top: 12px;
}