.apps-menu-icon{
    position: relative;
}
.apps-menu-icon i{
    background-color: white;
}
.apps-menu-icon i:hover{
    background-color: #c5ccd3;
}

.apps-menu{
    position: fixed;
    top: 3.75em;
    right: 1em;
    padding: 2em;
    background-color: white;
    display: flex;
    flex-direction: row;
    z-index: 5;
}
.apps-menu nav a{
    display: inline-block;
    padding: 3px 5px;
    border-radius: 5px;
    min-width: 4.125em;
    text-align: center;
    
}
.apps-menu nav a:hover,
.apps-menu nav a:hover i{
    background-color: #E6E7EF; /* #EEEAD2; /* #EBF0E5; /*#F1E4E4; /* #F5EDE0; /* E9F2E3;*/
}
.apps-menu nav a:visited{
    color: #5f6368;
}
.apps-menu nav a:not(:last-child){
    margin-right: 1em;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    background-color: lightslategrey;
    align-items: center;
}
header .logo a{
    font-size: 2em;
    font-family: 'Product';
    text-decoration: none;
    /* color: #5f6368; */
    color: white;
}
header .logo a:visited{
    /* color: #5f6368; */
    color: white;
}
.apps-menu i.fas,
.apps-menu i.far{    
    display: block;
    float: none;
    color: rgb(95, 99, 104);
}
.apps-menu .apps-menu-label{
    display: block;
    text-align: center;
    font-size: 0.9em;
}