.apps-menu-icon{
    position: relative;
}
.apps-menu{
    position: fixed;
    top: 3em;
    right: 1em;
    padding: 2em;
    background-color: white;
    display: flex;
    flex-direction: row;
    
}
.apps-menu nav a{
    display: inline-block;
    padding: 3px 5px;
    border-radius: 5px;
    min-width: 4.125em;
    text-align: center;
    
}
.apps-menu nav a:hover{
    background-color: #e8f0fe;
}
.apps-menu nav a:visited{
    color: #5f6368;
}
.apps-menu nav a:not(:last-child){
    margin-right: 1em;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.4em 1em 1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
header .logo a{
    font-size: 2em;
    font-family: 'Product';
    text-decoration: none;
    color: #5f6368;
}
header .logo a:visited{
    color: #5f6368;
}
.apps-menu i.fas,
.apps-menu i.far{    
    display: block;
    float: none;
    color: rgb(95, 99, 104);
}
.apps-menu i.fas:hover,
.apps-menu i.far:hover{ 
    background-color: #e8f0fe;
}
.apps-menu .apps-menu-label{
    display: block;
    text-align: center;
    font-size: 0.9em;
}