@import './book-details.css';
@import './book-preview.css';
@import './review-form.css';
.books-container {
    background-color: lightcyan;
}

.books-container input {
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 5px;
    outline: none;
    background-color: #fefefe;
}

.books-list {
    display: grid;
    list-style: none;
    grid-template: repeat(auto-fit, 500px) / repeat(auto-fit, 300px);
    grid-gap: 20px;
    justify-content: space-around;
}

.red {
    color: red;
}

.green {
    color: green;
}

.filter {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
}

.rate-select {
    display: flex;
    justify-content: space-around;
}